{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Welcome to the Flask Blog — a clean, full-featured web application built using Python and the Flask framework. This project demonstrates how to develop and deploy a complete blog system with user accounts, profile management, password reset via email, and CRUD functionality for blog posts.
This blog was created for educational purposes and to showcase full-stack web development skills using Python.</p>

    <br>
    
    <p>This blog is open-source and was developed to practice and showcase full-stack development skills using Flask. Feel free to explore, register, create posts, and test the functionality!</p>
    <div class="text-center mt-4">
  <h3>👩‍💻 Author</h3>
  <p><strong>Prasanthi Murakala</strong><br>
  Developer &amp; Creator of Flask Blog</p>
    </div>
{% endblock content %}
